*{
	margin: 0;
	padding: 0;
}

body{
	margin: 0;
	padding: 0;
	font: bold 12px Arial;
	background: black;
}

	.wrapper{
		background: url(../img/dota_2_storm_spirit.jpg) no-repeat fixed center center;
		background-size: 100% 100%;
		padding: 10px;
		min-width: 750px; 
	}

	.wrapper .form-container{
		background: #C2C2C2;
		margin-top: 15px;
		padding: 10px;
	}


	.wrapper form .add-container{
		display: flex;
		flex-direction: column;
	}
		
		.wrapper form .add-container div{
			margin-bottom: 10px;
		}

			.wrapper form .add-container .img{
				overflow: unset;
				display: flex;
				justify-content: flex-start;
				align-items: flex-end;
				margin-bottom: 10px;
			}

				.wrapper form .add-container .img input{

					margin-left: 20px;
				}

				.wrapper form .add-container .img img{
					width: 500px;
					margin-left: 70px;
				}

	.title{
		display: flex;
		justify-content: flex-start;
		margin-bottom: 50px;
		align-items: center;
	}

		.title p{
			margin-right: 15px;
		}	

		.title input{
			font: bold 16px Arial;
			padding: 5px;
		}

	.text{
		display: flex;
		justify-content: flex-start;
		align-items: flex-end;
	}

		.text p{
			margin-right: 15px;
		}

		.text textarea{
			padding: 5px;
			font: 16px Arial;
		}

	.submit{
		text-align: center;
	}

		.submit input{
			padding: 10px;
			width: 500px;
		}	
